.bottom-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: solid rgba(240, 238, 238, 0.438) 0.5px;
  background-color: #fff;
  data {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}
