@font-face {
  font-family: "CeraPro-Medium";
  src: url("../../fonts/Cera-Pro-Medium.otf");
}

@font-face {
  font-family: "CeraPro-Bold";
  src: url("../../fonts/Cera-Pro-Bold.otf");
}

@font-face {
  font-family: "CeraPro-BIT";
  src: url("../../fonts/Cera-Pro-Black-Italic.otf");
}

@font-face {
  font-family: "CeraPro-Black";
  src: url("../../fonts/Cera-Pro-Black.otf");
}

@font-face {
  font-family: "CeraPro-Regular-It";
  src: url("../../fonts/Cera-Pro-Regular-Italic.otf");
}

@font-face {
  font-family: "CeraPro-Light";
  src: url("../../fonts/Cera-Pro-Light.otf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../../fonts/Gilroy-Regular.ttf");
}
